# Table Extraction with LlamaParse

This notebook will show you how to extract tables and save them as CSV files thanks to LlamaParse advanced parsing capabilities.

Status:
| Last Executed | Version | State      |
|---------------|---------|------------|
| Aug-19-2025   | 0.6.61  | Maintained |

**1. Install needed dependencies**

In [1]:
%pip install llama-cloud-services pandas

Collecting llama-cloud-services
  Downloading llama_cloud_services-0.6.81-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: click<9,>=8.1.7 in /usr/local/lib/python3.12/dist-packages (from llama-cloud-services) (8.3.1)
Collecting llama-cloud==0.1.44 (from llama-cloud-services)
  Downloading llama_cloud-0.1.44-py3-none-any.whl.metadata (2.7 kB)
Collecting llama-index-core>=0.12.0 (from llama-cloud-services)
  Downloading llama_index_core-0.14.8-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: packaging>=23.0 in /usr/local/lib/python3.12/dist-packages (from llama-cloud-services) (25.0)
Requirement already satisfied: platformdirs<5,>=4.3.7 in /usr/local/lib/python3.12/dist-packages (from llama-cloud-services) (4.5.0)
Requirement already satisfied: pydantic!=2.10,>=2.8 in /usr/local/lib/python3.12/dist-packages (from llama-cloud-services) (2.11.10)
Requirement already satisfied: python-dotenv<2,>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from llama-cloud-services) (1.2.1)
Requirement already satisfied: tenacity<10.0,>=8.5.0 in /usr/local/lib/python3.12/dist-packages (from llama-cloud-services) (8.5.0)
Requirement already satisfied: certifi>=2024.7.4 in /usr/local/lib/python3.12/dist-packages (from llama-cloud==0.1.44->llama-cloud-services) (2025.11.12)
Requirement already satisfied: httpx>=0.20.0 in /usr/local/lib/python3.12/dist-packages (from llama-cloud==0.1.44->llama-cloud-services) (0.28.1)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: aiohttp<4,>=3.8.6 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (3.13.2)
Collecting aiosqlite (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading aiosqlite-0.21.0-py3-none-any.whl.metadata (4.3 kB)
Collecting banks<3,>=2.2.0 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading banks-2.2.0-py3-none-any.whl.metadata (12 kB)
Collecting dataclasses-json (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading dataclasses_json-0.6.7-py3-none-any.whl.metadata (25 kB)
Collecting deprecated>=1.2.9.3 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading deprecated-1.3.1-py2.py3-none-any.whl.metadata (5.9 kB)
Collecting dirtyjson<2,>=1.0.8 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading dirtyjson-1.0.8-py3-none-any.whl.metadata (11 kB)
Collecting filetype<2,>=1.2.0 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading filetype-1.2.0-py2.py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (2025.3.0)
Collecting llama-index-workflows!=2.9.0,<3,>=2 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading llama_index_workflows-2.11.4-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: nest-asyncio<2,>=1.5.8 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (1.6.0)
Requirement already satisfied: networkx>=3.0 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (3.5)
Requirement already satisfied: nltk>3.8.1 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (3.9.1)
Requirement already satisfied: pillow>=9.0.0 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (11.3.0)
Requirement already satisfied: pyyaml>=6.0.1 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (6.0.3)
Requirement already satisfied: requests>=2.31.0 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (2.32.4)
Collecting setuptools>=80.9.0 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: sqlalchemy>=1.4.49 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy[asyncio]>=1.4.49->llama-index-core>=0.12.0->llama-cloud-services) (2.0.44)
Requirement already satisfied: tiktoken>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (0.12.0)
Requirement already satisfied: tqdm<5,>=4.66.1 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (4.67.1)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (4.15.0)
Collecting typing-inspect>=0.8.0 (from llama-index-core>=0.12.0->llama-cloud-services)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.12/dist-packages (from llama-index-core>=0.12.0->llama-cloud-services) (2.0.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic!=2.10,>=2.8->llama-cloud-services) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic!=2.10,>=2.8->llama-cloud-services) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic!=2.10,>=2.8->llama-cloud-services) (0.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp<4,>=3.8.6->llama-index-core>=0.12.0->llama-cloud-services) (1.22.0)
Collecting griffe (from banks<3,>=2.2.0->llama-index-core>=0.12.0->llama-cloud-services)
  Downloading griffe-1.15.0-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from banks<3,>=2.2.0->llama-index-core>=0.12.0->llama-cloud-services) (3.1.6)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx>=0.20.0->llama-cloud==0.1.44->llama-cloud-services) (4.11.0)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx>=0.20.0->llama-cloud==0.1.44->llama-cloud-services) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx>=0.20.0->llama-cloud==0.1.44->llama-cloud-services) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx>=0.20.0->llama-cloud==0.1.44->llama-cloud-services) (0.16.0)
Collecting llama-index-instrumentation>=0.1.0 (from llama-index-workflows!=2.9.0,<3,>=2->llama-index-core>=0.12.0->llama-cloud-services)
  Downloading llama_index_instrumentation-0.4.2-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.12/dist-packages (from nltk>3.8.1->llama-index-core>=0.12.0->llama-cloud-services) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.12/dist-packages (from nltk>3.8.1->llama-index-core>=0.12.0->llama-cloud-services) (2024.11.6)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31.0->llama-index-core>=0.12.0->llama-cloud-services) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.31.0->llama-index-core>=0.12.0->llama-cloud-services) (2.5.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.4.49->sqlalchemy[asyncio]>=1.4.49->llama-index-core>=0.12.0->llama-cloud-services) (3.2.4)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.8.0->llama-index-core>=0.12.0->llama-cloud-services)
  Downloading mypy_extensions-1.1.0-py3-none-any.whl.metadata (1.1 kB)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json->llama-index-core>=0.12.0->llama-cloud-services)
  Downloading marshmallow-3.26.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.12/dist-packages (from anyio->httpx>=0.20.0->llama-cloud==0.1.44->llama-cloud-services) (1.3.1)
Collecting colorama>=0.4 (from griffe->banks<3,>=2.2.0->llama-index-core>=0.12.0->llama-cloud-services)
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->banks<3,>=2.2.0->llama-index-core>=0.12.0->llama-cloud-services) (3.0.3)
Downloading llama_cloud_services-0.6.81-py3-none-any.whl (74 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.7/74.7 kB 5.9 MB/s eta 0:00:00
Downloading llama_cloud-0.1.44-py3-none-any.whl (332 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 332.8/332.8 kB 23.1 MB/s eta 0:00:00
Downloading llama_index_core-0.14.8-py3-none-any.whl (11.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 126.6 MB/s eta 0:00:00
Downloading banks-2.2.0-py3-none-any.whl (29 kB)
Downloading deprecated-1.3.1-py2.py3-none-any.whl (11 kB)
Downloading dirtyjson-1.0.8-py3-none-any.whl (25 kB)
Downloading filetype-1.2.0-py2.py3-none-any.whl (19 kB)
Downloading llama_index_workflows-2.11.4-py3-none-any.whl (91 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 10.0 MB/s eta 0:00:00
Downloading setuptools-80.9.0-py3-none-any.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 71.5 MB/s eta 0:00:00
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading aiosqlite-0.21.0-py3-none-any.whl (15 kB)
Downloading dataclasses_json-0.6.7-py3-none-any.whl (28 kB)
Downloading llama_index_instrumentation-0.4.2-py3-none-any.whl (15 kB)
Downloading marshmallow-3.26.1-py3-none-any.whl (50 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.9/50.9 kB 5.5 MB/s eta 0:00:00
Downloading mypy_extensions-1.1.0-py3-none-any.whl (5.0 kB)
Downloading griffe-1.15.0-py3-none-any.whl (150 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.7/150.7 kB 15.7 MB/s eta 0:00:00
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Installing collected packages: filetype, dirtyjson, setuptools, mypy-extensions, marshmallow, deprecated, colorama, aiosqlite, typing-inspect, griffe, llama-index-instrumentation, llama-cloud, dataclasses-json, banks, llama-index-workflows, llama-index-core, llama-cloud-services
  Attempting uninstall: setuptools
    Found existing installation: setuptools 75.2.0
    Uninstalling setuptools-75.2.0:
      Successfully uninstalled setuptools-75.2.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython 7.34.0 requires jedi>=0.16, which is not installed.
Successfully installed aiosqlite-0.21.0 banks-2.2.0 colorama-0.4.6 dataclasses-json-0.6.7 deprecated-1.3.1 dirtyjson-1.0.8 filetype-1.2.0 griffe-1.15.0 llama-cloud-0.1.44 llama-cloud-services-0.6.81 llama-index-core-0.14.8 llama-index-instrumentation-0.4.2 llama-index-workflows-2.11.4 marshmallow-3.26.1 mypy-extensions-1.1.0 setuptools-80.9.0 typing-inspect-0.9.0

**2. Set you LLAMA_CLOUD_API_KEY as env variable**

llx-9uejTGZQuoudNZIn4fP67hcRw40XALhIGnZmELPpljSoSQoh

In [2]:
import os

os.environ["LLAMA_CLOUD_API_KEY"] = "llx-9uejTGZQuoudNZIn4fP67hcRw40XALhIGnZmELPpljSoSQoh"

**3. Initialiaze the parser**

In [3]:
from llama_cloud_services import LlamaParse

parser = LlamaParse(
    parse_mode="parse_page_with_agent",
    model="openai-gpt-4-1-mini",
    high_res_ocr=True,
    adaptive_long_table=True,
    outlined_table_extraction=True,
    output_tables_as_HTML=True,
)

**4. Get data**

This is a PDF with _lots_ of tables!

In [4]:
! wget https://assets.accessible-digital-documents.com/uploads/2017/01/sample-tables.pdf

--2025-11-24 10:42:52--  https://assets.accessible-digital-documents.com/uploads/2017/01/sample-tables.pdf
Resolving assets.accessible-digital-documents.com (assets.accessible-digital-documents.com)... 108.157.254.32, 108.157.254.52, 108.157.254.51, ...
Connecting to assets.accessible-digital-documents.com (assets.accessible-digital-documents.com)|108.157.254.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 145494 (142K) [application/pdf]
Saving to: ‘sample-tables.pdf’

sample-tables.pdf   100%[===================>] 142.08K  --.-KB/s    in 0.004s

2025-11-24 10:42:53 (35.3 MB/s) - ‘sample-tables.pdf’ saved [145494/145494]

**5. Parse document**

In [5]:
result = await parser.aparse("sample-tables.pdf")

Started parsing the file under job_id 028c3931-1871-47cb-b839-e8d6ee87bbc2

**6. Get tables!**

In [6]:
tables = []
for page in result.pages:
    for item in page.items:
        if item.type == "table":
            tables.append(item.rows)

print(tables[8])

[['Rainfall (inches)', 'Americas', 'Asia', 'Europe', 'Africa'], ['Average', '133', '244', '155', '166'], ['24 hour high', '27', '28', '29', '20'], ['12 hour high', '11', '12', '13', '16']]

**7. Load tables**

Let's show one example table!

In [9]:
import pandas as pd
from IPython.display import display

df = pd.DataFrame(tables[8])
df.head()

                   0         1     2       3       4
0  Rainfall (inches)  Americas  Asia  Europe  Africa
1            Average       133   244     155     166
2       24 hour high        27    28      29      20
3       12 hour high        11    12      13      16

# Task
Process and save all extracted tables from the `tables` list into individual CSV files. The first row of each table will be treated as the header. Then, display a list of the generated CSV file names.

## Process and Save All Tables

### Subtask:
Iterate through the 'tables' list, convert each table (list of lists) into a pandas DataFrame, assuming the first row is the header. Each DataFrame will then be saved to a uniquely named CSV file (e.g., 'table_0.csv', 'table_1.csv').

**Reasoning**:
I need to iterate through the 'tables' list, convert each sub-list into a pandas DataFrame, set the first row as header, remove the header row from the data, save each DataFrame as a uniquely named CSV file, and store the filenames.

In [10]:
csv_filenames = []

for i, table_data in enumerate(tables):
    if not table_data:
        print(f"Skipping empty table at index {i}")
        continue

    # Convert the list of lists to a DataFrame
    df = pd.DataFrame(table_data)

    # Set the first row as header and then drop it from the data
    new_columns = df.iloc[0]
    df = df[1:]
    df.columns = new_columns

    # Construct a unique filename
    filename = f"table_{i}.csv"

    # Save the DataFrame to a CSV file without the index
    df.to_csv(filename, index=False)

    # Append the filename to the list
    csv_filenames.append(filename)

print(f"Generated CSV files: {csv_filenames}")

Generated CSV files: ['table_0.csv', 'table_1.csv', 'table_2.csv', 'table_3.csv', 'table_4.csv', 'table_5.csv', 'table_6.csv', 'table_7.csv', 'table_8.csv', 'table_9.csv', 'table_10.csv', 'table_11.csv', 'table_12.csv', 'table_13.csv', 'table_14.csv', 'table_15.csv', 'table_16.csv', 'table_17.csv', 'table_18.csv', 'table_19.csv', 'table_20.csv', 'table_21.csv', 'table_22.csv', 'table_23.csv', 'table_24.csv', 'table_25.csv', 'table_26.csv', 'table_27.csv', 'table_28.csv']

# Task
Load 'table_8.csv' into a pandas DataFrame, perform a query to find the difference between 'Asia' and 'Americas' average rainfall, and then summarize the querying capabilities of pandas DataFrames for extracted tables.

## Load a Table for Querying

### Subtask:
Load 'table_8.csv' into a pandas DataFrame.

**Reasoning**:
To load the CSV file into a pandas DataFrame, I need to use the pandas library's `read_csv` function. I'll also explicitly import pandas for clarity, although it might have been imported earlier.

In [12]:
import pandas as pd

df_table_8 = pd.read_csv('table_8.csv')
df_table_8.head()

  Rainfall (inches)  Americas  Asia  Europe  Africa
0           Average       133   244     155     166
1      24 hour high        27    28      29      20
2      12 hour high        11    12      13      16

## Perform a Complex SQL-like Query

### Subtask:
Demonstrate a complex query on the loaded DataFrame. This could involve filtering rows based on multiple conditions, selecting specific columns, and performing aggregations (e.g., finding the average rainfall for a specific region). Print the results of this query.

**Reasoning**:
I need to access the 'Average' rainfall data for 'Americas' and 'Asia' from the `df_table_8` DataFrame, extract the numerical values, calculate the difference, and then print the result.

In [13]:
average_rainfall = df_table_8[df_table_8['Rainfall (inches)'] == 'Average']

americas_average = average_rainfall['Americas'].values[0]
asia_average = average_rainfall['Asia'].values[0]

difference = asia_average - americas_average

print(f"Difference in average rainfall (Asia - Americas): {difference}")

Difference in average rainfall (Asia - Americas): 111

## Initialize SQLite Database

### Subtask:
Set up an SQLite database connection to prepare for storing the tables.

**Reasoning**:
To set up an SQLite database, I need to import the `sqlite3` module, establish a connection to the database file, and then create a cursor object for executing SQL commands.

In [17]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('tables_data.db')

# Create a cursor object
cursor = conn.cursor()

print("SQLite database 'tables_data.db' connected and cursor created.")

SQLite database 'tables_data.db' connected and cursor created.

In [20]:
def make_unique_columns(columns):
    seen = {}
    unique_cols = []
    for idx, col in enumerate(columns):
        temp_col = str(col).strip() # strip whitespace
        if not temp_col: # if column name is empty after stripping
            temp_col = f"Unnamed_{idx}"

        if temp_col in seen:
            seen[temp_col] += 1
            unique_cols.append(f"{temp_col}_{seen[temp_col]}")
        else:
            seen[temp_col] = 0
            unique_cols.append(temp_col)
    return unique_cols

conn = sqlite3.connect('tables_data.db') # Re-establish connection as it was closed

db_table_names = []

for i, table_data in enumerate(tables):
    if not table_data:
        print(f"Skipping empty table at index {i}")
        continue

    # Convert the list of lists to a DataFrame
    df = pd.DataFrame(table_data)

    # Set the first row as header and then drop it from the data
    # Check if df has enough rows to set a header
    if len(df) > 1:
        # Get potential column names from the first row
        potential_columns = df.iloc[0].tolist()
        # Make column names unique and non-empty
        unique_potential_columns = make_unique_columns(potential_columns)
        df.columns = unique_potential_columns
        df = df[1:].reset_index(drop=True)
    elif len(df) == 1: # If only one row, it becomes the header and the DataFrame will be empty
        potential_columns = df.iloc[0].tolist()
        unique_potential_columns = make_unique_columns(potential_columns)
        df.columns = unique_potential_columns
        df = pd.DataFrame(columns=df.columns)
    else: # Should be caught by `if not table_data` but as a safeguard
        print(f"Table {i} has no data rows after header extraction. Skipping.")
        continue

    # Generate a unique table name
    table_name = f"table_{i}"

    # Write the DataFrame to SQLite
    df.to_sql(name=table_name, con=conn, if_exists='replace', index=False)
    db_table_names.append(table_name)

print(f"All tables loaded into SQLite database: {db_table_names}")

# Close the database connection
conn.close()
print("Database connection closed.")

All tables loaded into SQLite database: ['table_0', 'table_1', 'table_2', 'table_3', 'table_4', 'table_5', 'table_6', 'table_7', 'table_8', 'table_9', 'table_10', 'table_11', 'table_12', 'table_13', 'table_14', 'table_15', 'table_16', 'table_17', 'table_18', 'table_19', 'table_20', 'table_21', 'table_22', 'table_23', 'table_24', 'table_25', 'table_26', 'table_27', 'table_28']
Database connection closed.

In [21]:
import sqlite3

# Reconnect to the SQLite database
conn = sqlite3.connect('tables_data.db')
cursor = conn.cursor()

# SQL query to find the average rainfall for Americas and Asia from table_8
query = """
SELECT
    Asia - Americas AS Difference
FROM
    table_8
WHERE
    "Rainfall (inches)" = 'Average'
"""

# Execute the query
cursor.execute(query)

# Fetch the result
difference_result = cursor.fetchone()

if difference_result:
    print(f"Difference in average rainfall (Asia - Americas) from SQLite (table_8): {difference_result[0]}")
else:
    print("Could not find average rainfall data for Americas and Asia in table_8.")

# Close the database connection
conn.close()
print("Database connection closed.")

Difference in average rainfall (Asia - Americas) from SQLite (table_8): 111
Database connection closed.